<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.exoplatform"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="eXo${appLabelEnvironmentSuffix}"
        tools:replace="android:label"
        android:theme="@style/MainTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/provider_paths" />
        <activity
            android:name=".activity.LauncherActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="community.exoplatform.com"
                    android:pathPrefix="/portal"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConnectToExoListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.WebViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WebViewActivity" />
        </activity> <!-- Enable Apache HTTP for Android 9 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- Activities -->
        <!-- Home activity -->
        <activity android:name=".activity.BoardingActivity"></activity>
        <activity
            android:name=".activity.AddDomainServerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.BoardingActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BoardingActivity" />
        </activity>
        <activity
            android:name=".activity.ScannerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar" /> <!-- New / Select server activity -->
        <activity
            android:name=".activity.NewServerActivity"
            android:label="@string/ServersActivity.Title.SignInToExo"
            android:parentActivityName=".activity.ConnectServerActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ConnectServerActivity" />
        </activity> <!-- Settings activity -->
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/SettingsActivity.Title.Settings"
            android:parentActivityName=".activity.ConnectServerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ConnectServerActivity" />
        </activity> <!-- Edit and Delete Server activity -->
        <activity
            android:name=".activity.EditDeleteServerActivity"
            android:label="@string/SettingsActivity.Title.Edit"
            android:parentActivityName=".activity.SettingsActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity> <!-- WebView activity -->
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.AddDomainServerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddDomainServerActivity" />
        </activity> <!-- Share Extension activity -->
        <activity
            android:name=".activity.ShareExtensionActivity"
            android:label="@string/Word.eXo">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity> <!-- Services -->
        <service
            android:name=".service.share.ShareService"
            android:exported="false" /> <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="${crashlyticsApiKey}" /> <!-- Push notifications, Firebase -->
        <service android:name=".service.push.PushNotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.push.PushTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_share_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/eXoGrey" />
    </application>

</manifest>